<h1>Започни со Rails</h1>

<h2>Статии</h2>

<!-- link_to article.title, article  == article_path(article), article.title ==  /articles/article.id, article.title -->
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= link_to "Нова статија", new_article_path %>
